.company-name {
  font-weight: 900;
  font-size: 2.5em;
}



.about-container {
  display: flex;
  justify-content: space-between;
  width: 750px;
  align-items: flex-end;
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d9f9ff
}

.about-head {
  font-weight: 900;
  font-size: x-large;
}


button.showmore {
  background-color: white;
  border-color: white;
  border: white;
  font-size: .75em;
}

button.showmore > p {
  font-weight: bolder;
  color: #29c2ff
}

button.read-button > p {
  font-weight: bolder;
  color: #29c2ff
}




.linechart-container {
  padding-top: 30px;
}

.more {
  height: 250px;
  width: 650px;
  background-color:white;
  justify-content: start;
  flex: 1;
}

.less {
  height: 80px;
  width: 650px;
  background-color: white;
  justify-content: start;
  overflow: hidden;
}

.description-container {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}

.read-button-container {
  display: flex;
  justify-content: flex-end;
  width: 650px;

}

.read-button-container > button {
  background-color:white;
  border-color: white;
  border: white;
  font-weight: 400;
  font-size: .75em;
  width: 90px;

}



.counter-price {
  font-size: 1.5em;
  font-weight: bolder;
}

.counter-price-portfolio {
  font-size: 2em;
  font-weight: bolder;
}

.button-box > button {
  background-color: white;
  border-color: white;
  border: white;
  width: 70px
}

.tab-button {
  font-weight: 700;
  font-size: 1.2em;
}

.tab-button:hover {
  cursor: pointer;
}

.about-cont {
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}


.datarows {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 700px;
  overflow-y: visible;
}

.datarows > div {
  flex: 1;
  font-size: small;
  padding-bottom: 15px;

}

.data-key {
  font-weight: 900;
}

.first-row-info {

}

.data-container {
  justify-content: start;

}

.entire-data-container {
  padding-top: 40px;
  padding-bottom: 25px;
}

.extra-toggle {
  display: none;
}

.linegraph-container {
  border-bottom: 1px solid #d9f9ff;
  width: 750px;
  padding-bottom: 10px;

}
