.main-background {
  display: flex;
  flex-direction: column;
  width: 100%;

  overflow-x: hidden;
  box-sizing: border-box;

}

.toolbar-nav-container {
  height: 57px;
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
  background-color: white;
  z-index: 1;
  box-sizing: border-box;
  align-content: center;
}

.links-container {
  align-items: center;
  justify-self: flex-end;
  width: 600px;
  display: flex;
  padding-right: 20px;
  padding-left: 100px;
  padding-top: 10px;
  flex-basis: 600px;
  min-width: 400px;
}

.links-container > * {
  flex: 1;
}


.icon {
  padding-top: 15px;
  padding-left: 35px;
  transition: ease .5px;
  justify-content: center;
  padding-right: 60px;

}

.icon:hover {
  color: rgb(119, 163, 186);
  transition: ease .5px;
}

.header-button  {
  font-weight: bolder;

  color: black
}



.header-group {
  display: flex;
  flex-direction: row;
}

.search-bar-container {
  flex-basis: 450px;
  height: 30px;
  display: flex;
  border: 1px solid rgba(204, 204, 204, 0.46);
  border-radius: 7px;
  margin-right: 100px;
  margin-top: 15px;
  transition: ease .2s;

}

.search-bar-container:hover {
  box-shadow: 5px 5px 5px 0px #E8E8E8, -5px 5px 5px 0px #E8E8E8;
  transition: ease .2s;
}

.search-icon {
  padding-top: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-right: 5px;
  padding-left: 20px;
  color: rgba(58, 58, 58, 0.51);

}



input.searchbar  {
  width: 300px;
  height: 28px;
  border: none;

}

.header-button:hover {
  cursor: pointer;
}

.greeting {
  font-weight: 600;
  flex-basis: 100px;
  font-size: large;
}

.main-body-container {
  margin-top: 64px;
  display: flex;
  flex-direction: row;

  padding-left: 130px;
  position: relative;
  width: 100%;
  height: 100%;
}

.content-container {
  /* margin-top: 80px; */
  height: 100%;
  width: 750%;
  position: relative;
  flex-basis: 60%;
  display: block;
  box-sizing: border-box;
  overflow-x: hidden;
  flex-wrap: wrap;
}

.ql-container {
  height: 100%;
  width: 100px;
  flex-basis: 40%;
  display: inline-block;
  position: relative;
  z-index: 2;

}

.ql-general {
  position: fixed;
  border: 1px solid white;
  top: 100px;
  height: auto;
  width: 250px;
  box-shadow: 8px 8px 10px 0px #E8E8E8, -8px 10px 10px 0px #E8E8E8;
  /* padding-right: 15px; */
}

.four {
  background-color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
  font-size: 4em;
  font-weight: 900;
  height: 100vh;
}

.empty-container {
  padding-top: 20px;
  height: 400px;
}

.empty-header {
  padding-top: 100px;
  font-size: 2em;
  font-weight: 900;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
 }
 
 h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
 }