.portfolio-ql-cont {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding-top: 10px;
}

.portfolio-ql-cont > *:first-child {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 900;
  padding-left: 20px;
}

.stocks:hover {
  background-color: rgb(247, 247, 247);
}


.stocks1 {
  display: flex;
  height: 40px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px
}

.sym {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: small;
}

.percent {
  display: flex;
  justify-content: flex-end;
  font-size: smaller;
  font-weight: 800;
  color: rgb(69, 205, 87)

}

.neg-perc {
  display: flex;
  justify-content: flex-end;
  font-size: smaller;
  color: rgb(242, 7, 7);
  font-weight: 400;
}

.right-side-numbers {
  display: flex;
  justify-content: right;
  flex-direction: column;
}

.latest-price {
  font-size: small;
}

.lists-header {
  height: 50px;
  display:flex;
  align-items: center;
  padding-left: 20px;
  font-weight: 900;
  justify-content: space-between;
  padding-right: 15px;
  border-top: 1px solid rgb(237, 237, 237);
  border-bottom: 1px solid rgb(237, 237, 237);
}

.plus > * {
  font-size: .75em;
  transition: ease .3s;
  font-weight: 500;
}

.plus > *:hover {
  color: #00ace6;;
  transition: ease .3s;
}

.num-shares {
  font-size: .75em;
}

.create-list-container {
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.create-list-container-off {
  height: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;

  -webkit-animation: slide2 .5s ease forwards;
}

@-webkit-keyframes slide2 /* Safari and Chrome */
{
from {height: 115px;}
to {height: 0px;}
}

.create-list-container-on {
  height: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 15px;
  -webkit-animation: slide .5s ease forwards;
}

@-webkit-keyframes slide /* Safari and Chrome */
{
from {height: 0;}
to {height: 115px;}
}


.create-input:focus {
  border-style: solid;
  border-color: #00ace6;
  background-color: white;
  transition: all ease-in-out .5s;
  color:black;
  font-weight: 500;
}

input.create-input {
  width: 150px;
  height: 32px;
  font-size: smaller;
  background-color: rgba(235, 235, 233, 0.44);
  border-style: solid;
  border-color: rgba(235, 235, 233, 0.44);
  border-radius: 4px;
  font-weight: 400;
  transition: all ease-in-out .5s;
  padding-right: 10px;
  text-align: left;
  color: rgba(31, 31, 29, 0.44);
  margin-left: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.lists-list {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.lists-list:hover {
  background-color: rgb(247, 247, 247);
}

.lists-map-cont {
  max-height: 400px;
}

.portfolio-ql-cont::-webkit-scrollbar { width: 0 !important }

.list-item-name {
  padding-left: 25px;
  padding-top: 15px;
  font-size: .9em;
  font-weight: 500;
}

.list-icon {
  padding-right: 10px;
  color: rgb(241, 212, 23);
}

.x-icon {
  padding-top: 15px;
  padding-right: 20px;
}

.x-icon:hover {
  color: rgb(210, 28, 28)
}

.list-buttons > * {
  width: 200px;
  height: 30px;
  background-color: #00ace6;
  margin-right: 10px;
  border-radius: 5px;
  color: white;
  font-weight: 600;

}

.list-buttons {
  margin-left: 15px;
  margin-bottom: 5px;
}



#cancel-list {
  border: 2px solid #00ace6;
  background: white;
  color: #00ace6;
}

#none-yet {
  padding-left: 15px;
  padding-bottom: 15px;
}



