.search-res-container {
  background-color: white;
  padding-bottom: 10px;
  
}

#search-res-item {
  max-width: inherit;
  margin-left: 20px;
  font-size: .85em;
  font-weight: 900;
  display: flex;
  overflow-x: hidden;
}

.res-cont {
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

.res-cont:hover {
  background-color: rgb(247, 247, 247);
}

.search-header {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: .75em;
  font-weight: 900;
  color: rgb(142, 142, 142);
}

.search-bar-container {
  flex-basis: 450px;
  min-height: 30px;
  display: flex;
  border: 1px solid rgba(204, 204, 204, 0.46);
  border-radius: 7px;
  overflow-x: hidden;
  margin-top: 15px;
  transition: ease .2s;
  position: fixed;
  flex-direction: column;
}

.search-input-cont {
  display: flex;
}

.search-bar-container:hover {
  box-shadow: 5px 5px 5px 0px #E8E8E8, -5px 5px 5px 0px #E8E8E8;
  transition: ease .2s;
}

.search-icon {
  padding-top: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-right: 5px;
  padding-left: 20px;
  color: rgba(58, 58, 58, 0.51);
}

#res-sym {
  padding-right:3px;
  width: 50px;
  font-weight: 900;
}

#res-name {
  overflow-x: hidden;
  font-weight: 400;
  color: rgb(112, 112, 112);

}

form.search-bar {
  height: 30px;
}



input.searchbar  {
  width: 400px;
  height: 28px;
  border: none;

}